body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: #e0e0e0;
  }

.lm-2 {
    margin-left: 2%;
}

.lm-5 {
    margin-left: 5%;
}

.tb-m {
    margin-top: -3px;
    margin-bottom: -3px;
}

.panel-primary>.panel-heading {
    color: #fff;
    background-color: #000000d9;
    border-color: #000000d9;
}

.panel-primary {
    border-color: #000000d9;
}

.jumbotron-bg {
    color: #fff!important;
    background-color: #000000d9!important;
}

.col {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 992px) {
.col {
    float: left;
    }
}
