body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: #e0e0e0;
  }

.lm-2 {
    margin-left: 2%;
}

.lm-5 {
    margin-left: 5%;
}

.tb-nm {
    margin-top: -3px;
    margin-bottom: -3px;
}

.tb-m {
    margin-bottom: 3px;
    margin-top: 3px;
}

.t-m {
    margin-top: -1.5%;
}

.panel-primary>.panel-heading {
    color: #fff;
    background-color: #2b2929;
    border-color: #2b2929;
}

.panel-primary {
    border-color: #2b2929;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 0px solid;
    border-color: #2b2929;
    border-radius: 6px;
    /* -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: -2px 2px 7px rgb(0 0 0 / 52%); */
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-color: #2b2929!important;
    /* margin-right: -1%!important; */
}

.jumbotron-bg {
    color: #fff!important;
    background-color: #000000d9!important;
}

.col {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 992px) {
.col {
    float: left;
    }
}
